{{!-- <img src='${{flag}} alt='flag' width='60' />
<h2 class='county-info_name'>${{name.official}}</h2>
<p class='country-info_description'>
  Capital:
  <span class='country-info_val'>${{capital}}</span>
</p>
<p class='country-info_description'>
  Population:
  <span class='country-info_val'>${{population}}</span>
</p>
<p class='country-info_description'>
  Language:
  <span class='country-info_val'>${{languages}}</span>
</p> --}}